/*--- Google Fonts import ---*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,400&display=swap');

/*-- general --*/

body {
    background-color: #F2B705;
    font-family: 'Montserrat', sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/*-- navbar --*/
nav .brand-logo {
    font-size: 1.5em;
    color: #1b5e20;
}

nav ul a {
    color: #1B5E20;
}

nav .nav-wrapper {
    padding: 15px;
}

#logo {
    height: 45px;
    width: 45px;
}

/*-- flash messages --*/
.flashes h4{
    line-height: 2;    
}

/*-- buttons --*/
.btn-small {
    margin: 5px;
}

.btn-small 
.recipe-btn {
    text-align: right;
}

/*-- block dividers --*/
.block-divider {
    width: 500px;
    height: 5px;
    border: 0;
    background-color: #FF6F00;
}
/*-- homepage --*/
.callout-outer {
    width: 100%;
    overflow: hidden;
}

.callout-container {
    height: 100vh;
    background: url(/static/img/MilestoneThreeLanding.png) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--"Whiskey Drop Project" Code Institute --*/
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .35);
}

section.callout.text-center.uppercase{
    text-transform: uppercase;
    color: #FF6F00;
}


/*-- recipes --*/
.collapsible-header 
.col strong {
    margin: 5px;
    line-height: 45px;
}