{% extends "base.html" %}
{% block content %}
<div class="row callout-outer">
    <div class="callout-container col s12">
        <div class="opaque-overlay"></div>
            <div class="row">
                <div class="col-12">
                    <section class="callout text-center uppercase">
                        <h1 class="header">Food Fast</h1>
                        <hr class="block-divider">
                        <h2 class="subhead">Real Food, Real Fast</h2>
                        <a class="btn btn-lg" href="{{ url_for('register') }}" role="button">Sign Up</a>
                    </section>
                </div>
            </div>
        
    </div>
</div>
{% endblock%}