{% extends "base.html" %}
{% block content %}

<h3 class ="green-text text-darken-4 center-align">Recipes</h3>

    <ul class="collapsible">
        {% for recipies in recipies %}
        <li>
            <div class="collapsible-header white-text green darken-1 text-shadow">
                <div class="col s8">
                    <i class="fas fa-pepper-hot"></i>
                    <strong>{{ recipies.recipe_name }}</strong> : {{ recipies.category_name}}
                </div>
                <div class="col s4">
                    <a href="" class="btn-small amber darken-4"><i class="fas fa-pen"></i></a>
                    <a href="" class="btn-small amber darken-4"><i class="fas fa-trash-alt"></i></a>
                </div>

            </div>
        </li>
        <li>
            <div class="collapsible-header white-text green darken-1 text-shadow">
                <i class="fas fa-shopping-cart"></i>
                <strong>Ingredients</strong>
            </div>
            <div class="collapsible-body">
                <p>{{ recipies.recipe_ingredients }}</p>
            </div>    
        </li>
        <li>
            <div class="collapsible-header white-text green darken-1 text-shadow">
                <i class="fas fa-utensil-spoon"></i>
                <strong>Method</strong>
            </div>
            <div class="collapsible-body">
                <p>{{ recipies.recipe_method }}</p>
                <p><em>made by: {{ recipies.recipe_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>
    
        
    
        <br>
        <br>

{% endblock %}